@use '../config' as *;

.request-btn {
  font-size: .9rem;
  font-weight: 700;
  color: var(--white);
  padding: 1em 2.3em;
  border-radius: 100px;
  background: linear-gradient(90deg, var(--green) 0%, var(--cyan) 100%);

  @include tablet { padding: 1em 2.25em; }
}