@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
:root {
  --dark-blue: hsl(233, 26%, 24%);
  --green: hsl(136, 65%, 51%);
  --cyan: hsl(192, 70%, 51%);
  --g-blue: hsl(233, 8%, 62%);
  --light-g-blue: hsl(220, 16%, 96%);
  --v-light-gray: hsl(0, 0%, 98%);
  --white: #fff;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
}

body {
  position: relative;
  overflow-x: hidden;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  outline: none;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  padding: 1.4em 1.04em;
}
@media (min-width: 960px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 1.21em 1.04em;
  }
}

.display-none {
  display: none;
}

.request-btn {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--white);
  padding: 1em 2.3em;
  border-radius: 100px;
  background: linear-gradient(90deg, var(--green) 0%, var(--cyan) 100%);
  transition: ease-in-out 1s all linear;
}
@media (min-width: 500px) {
  .request-btn {
    padding: 1em 2.25em;
  }
}
.request-btn:hover, .request-btn:focus {
  background: var(--green);
  animation: btn-hover 1s;
}
@keyframes btn-hover {
  from {
    background: linear-gradient(90deg, var(--green) 0%, var(--cyan) 100%);
  }
  to {
    background: var(--green);
  }
}

@media (min-width: 960px) {
  .nav__list {
    width: 310px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 960px) {
  .nav__item {
    position: relative;
    font-weight: 700;
    font-size: 0.95rem;
    margin-right: 1.7em;
  }
  .nav__item a {
    color: var(--g-blue);
    transition: 0.5s ease-in all;
  }
  .nav__item a:hover, .nav__item a:focus {
    color: var(--dark-blue);
  }
  .nav__item a::before {
    content: "";
    position: absolute;
    top: 46px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 6px;
    background: linear-gradient(90deg, var(--green) 0%, var(--cyan) 100%);
    transition: ease-in-out 0.3s all;
  }
  .nav__item a:hover::before, .nav__item a:focus::before {
    width: 100%;
  }
}
.nav button {
  background: transparent;
  height: 100%;
}
@media (min-width: 960px) {
  .nav button {
    display: none;
  }
}

.display-nav {
  position: absolute;
  width: calc(100% - 2.08em);
  background: var(--white);
  top: 88px;
  border-radius: 8px;
}
.display-nav ul {
  padding: 1.99em 0 1em 0;
}
.display-nav ul li {
  text-align: center;
  margin-bottom: 1.5em;
}
.display-nav ul li a {
  color: var(--dark-blue);
  font-weight: 700;
  font-size: 1.08em;
}

.footer-nav__item {
  margin-bottom: 0.95em;
}
.footer-nav__item:last-child {
  margin-bottom: 0;
}
.footer-nav__item a {
  color: var(--white);
  font-weight: 400;
}
@media (min-width: 960px) {
  .footer-nav__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-nav__item a {
    font-size: 1.2rem;
    transition: 0.5s all ease-in-out;
  }
  .footer-nav__item a:hover, .footer-nav__item a:focus {
    color: var(--green);
  }
}

.nav-open {
  color: var(--white);
}

.nav-close {
  position: absolute;
  color: var(--white);
  top: -190px;
  right: 6px;
}
.nav-close img {
  height: 16px;
}

header {
  position: fixed;
  width: 100%;
  background: var(--white);
  z-index: 10;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__btn {
  display: none;
}
@media (min-width: 960px) {
  .header__btn {
    display: block;
  }
}

.box-shodow {
  box-shadow: 10px 10px 500px 300px var(--dark-blue);
}

.section-start {
  background: url("../../images/bg-intro-mobile.svg") no-repeat, var(--v-light-gray);
  background-position-x: right;
  background-position-y: 9px;
  background-size: 100%;
}
@media (min-width: 410px) {
  .section-start {
    background-position: 0px -20px;
  }
}
@media (min-width: 440px) {
  .section-start {
    background-position: 0px -60px;
  }
}
@media (min-width: 500px) {
  .section-start {
    background: url("../../images/bg-intro-desktop.svg") no-repeat, var(--v-light-gray);
    background-size: 100%;
    background-position: center -70px;
  }
}
@media (min-width: 610px) {
  .section-start {
    background-position-y: -130px;
  }
}
@media (min-width: 700px) {
  .section-start {
    background-position-y: -220px;
    background-size: 90%;
  }
}
@media (min-width: 960px) {
  .section-start {
    background-position: 610px -220px;
    background-size: 100%;
  }
}

.start {
  padding-top: 0;
  padding-bottom: 90px;
  display: grid;
  grid-template-areas: "a" "b";
}
@media (min-width: 960px) {
  .start {
    grid-template-areas: "a b";
    padding: 250px 16px 170px 16px;
    grid-template-columns: repeat(2, 1fr);
  }
}
.start__title {
  font-size: 2.38rem;
  font-weight: 400;
  color: var(--dark-blue);
}
@media (min-width: 960px) {
  .start__title {
    font-size: 3.35rem;
  }
}
.start__body {
  color: var(--g-blue);
  margin: 22px 0 34px 0;
  font-size: 0.9rem;
  line-height: 1.62;
}
@media (min-width: 960px) {
  .start__body {
    width: 100%;
    max-width: 440px;
    margin: 26px 0 34px 0;
    font-size: 1.08rem;
  }
}

.start-info {
  grid-area: b;
  text-align: center;
}
@media (min-width: 960px) {
  .start-info {
    grid-area: a;
    text-align: left;
  }
}

.start-pictures {
  position: relative;
  width: 100%;
  height: 388px;
  grid-area: a;
}
@media (min-width: 960px) {
  .start-pictures {
    grid-area: b;
    height: auto;
  }
}
.start-pictures img {
  position: absolute;
  top: -50px;
  width: 100%;
  transform: scale(1.05);
}
@media (min-width: 410px) {
  .start-pictures img {
    top: -100px;
  }
}
@media (min-width: 440px) {
  .start-pictures img {
    top: -140px;
    transform: scale(0.99);
  }
}
@media (min-width: 500px) {
  .start-pictures img {
    width: 420px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: 960px) {
  .start-pictures img {
    top: -80px;
    left: 250px;
    transform: scale(1.8);
  }
}

.services {
  display: grid;
  gap: 2.15em;
  grid-template-columns: repeat(auto-fit, minmax(238px, 1fr));
}
.services__logo {
  margin-bottom: 1.5em;
}
@media (min-width: 960px) {
  .services__logo {
    margin-bottom: 2.5em;
  }
}
.services__title {
  margin-bottom: 1.2em;
  color: var(--dark-blue);
}
@media (min-width: 960px) {
  .services__title {
    font-size: 1.4rem;
  }
}
.services__body {
  font-size: 0.9rem;
  line-height: 1.6;
  color: var(--g-blue);
}
@media (min-width: 960px) {
  .services__body {
    margin-bottom: 2.5em;
    font-size: 0.965rem;
    line-height: 1.7;
  }
}

.section-about-us {
  background: var(--light-g-blue);
}

.about-us {
  text-align: center;
  padding-bottom: 4em;
}
@media (min-width: 960px) {
  .about-us {
    text-align: left;
    padding: 4.4em 1em;
  }
}
.about-us__title {
  font-size: 1.92em;
  font-weight: 400;
  color: var(--dark-blue);
}
@media (min-width: 960px) {
  .about-us__title {
    font-size: 2.42rem;
  }
}
.about-us__body {
  color: var(--g-blue);
  font-size: 0.9rem;
  line-height: 1.7;
  margin-top: 1.38em;
}
@media (min-width: 960px) {
  .about-us__body {
    width: 100%;
    max-width: 650px;
    font-size: 1.12rem;
  }
}

.about-us-info {
  padding: 2.3em 0 3.5em 0;
}
@media (min-width: 960px) {
  .about-us-info {
    padding: 2.3em 0 3.9em 0;
  }
}

.card {
  background: var(--white);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.card__author {
  font-size: 0.6rem;
}
.card__title {
  margin: 0.8rem 0;
  font-weight: 400;
  font-size: 0.96rem;
  color: var(--dark-blue);
  transition: 0.5s ease-in-out color;
}
.card__title:hover, .card__title:focus {
  color: var(--cyan);
}
.card__body {
  font-size: 0.79rem;
  line-height: 1.4;
}

.card-content {
  text-align: left;
  padding: 1.55em 2em 2.5em 2em;
}
@media (min-width: 960px) {
  .card-content {
    padding: 1.55em 1.5em 2.5em 1.5em;
  }
}

.section-articles {
  background: var(--v-light-gray);
}

.articles {
  text-align: center;
  padding: 5.5em 1.1em;
}
@media (min-width: 960px) {
  .articles {
    text-align: left;
    padding: 5.2em 1.1em 3.8em 1.1em;
  }
}
.articles__title {
  font-size: 1.94rem;
  font-weight: 300;
  color: var(--dark-blue);
  margin-bottom: 1.1em;
}
@media (min-width: 960px) {
  .articles__title {
    font-size: 2.35rem;
    margin-bottom: 1.3em;
  }
}

.articles-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 1.6em;
}
@media (min-width: 960px) {
  .articles-container {
    grid-gap: 1.8em;
  }
}

footer {
  background: var(--dark-blue);
}

.footer {
  text-align: center;
  padding: 2.5em;
  display: grid;
  gap: 1.94em;
  color: var(--white);
}
@media (min-width: 960px) {
  .footer {
    text-align: left;
    padding: 3em 1em;
    grid-template-columns: 256px 1fr 400px;
  }
}

.footer-social {
  display: grid;
  gap: 1.94em;
  padding: 0 2.2em;
}
@media (min-width: 960px) {
  .footer-social {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
.footer-social svg {
  margin: auto;
}
@media (min-width: 960px) {
  .footer-social svg {
    margin: 0;
  }
}
.footer-social .social-networks {
  display: flex;
  justify-content: space-evenly;
}
@media (min-width: 960px) {
  .footer-social .social-networks {
    margin-top: 30px;
    width: 154px;
    justify-content: space-between;
  }
}
.footer-social .social-networks img {
  width: 26px;
}
@media (min-width: 960px) {
  .footer-social .social-networks img {
    width: 20px;
  }
  .footer-social .social-networks img:hover {
    transform: scale(1.3);
  }
}

.footer-last {
  margin-top: 0.2em;
}
@media (min-width: 960px) {
  .footer-last {
    text-align: right;
  }
}
.footer-last .r-reserved {
  font-size: 0.9rem;
  margin-top: 2em;
}

/*# sourceMappingURL=main.css.map */
