@use '../components/buttons' as *;
@use '../config' as *;

.section-start {
  background: url('../../images/bg-intro-mobile.svg') no-repeat, var(--v-light-gray);
  background-position-x: -8px;
}

.start {
  padding-top: 0;
  padding-bottom: 90px;
  display: grid;
  grid-template-areas: 'a'
                       'b';
    &__title {
      font-size: 2.38rem;
      font-weight: 400;
      color: var(--dark-blue);
    }

    &__body {
      color: var(--g-blue);
      margin: 22px 0 34px 0;
      font-size: .9rem;
      line-height: 1.62;
    }
  }
  
  .start-info {
    grid-area: b;
    text-align: center;
  }
  
  .start-pictures {
    position: relative;
    width: 100%;
    height: 388px;
    grid-area: a;
    
    img {
      position: absolute;
      top: -50px;
      width: 100%;
      transform: scale(1.05);
    }
}