@use '../components/buttons' as *;
@use '../config' as *;

.section-start {
  background: url('../../images/bg-intro-mobile.svg') no-repeat, var(--v-light-gray);
  background-position-x: right;
  background-position-y: 9px;
  background-size: 100%;
  @media (min-width: 410px) {background-position: 0px -20px;}
  @media (min-width: 440px) {background-position: 0px -60px;}
  @include tablet {
    background: url('../../images/bg-intro-desktop.svg') no-repeat, var(--v-light-gray);
    background-size: 100%;
    background-position: center -70px;
  }
  @media (min-width: 610px) {background-position-y: -130px;}
  @media (min-width: 700px) {background-position-y: -220px;background-size: 90%;}
  @include desktop {background-position: 610px -220px;background-size: 100%;}
}

.start {
  padding-top: 0;
  padding-bottom: 90px;
  display: grid;
  grid-template-areas: 'a'
                       'b';
  @include desktop {
    grid-template-areas: 'a b';
    padding: 250px 16px 170px 16px;
    grid-template-columns: repeat(2, 1fr);
  }

  &__title {
    font-size: 2.38rem;
    font-weight: 400;
    color: var(--dark-blue);
    @include desktop {
      font-size: 3.35rem;
    }
  }

  &__body {
    color: var(--g-blue);
    margin: 22px 0 34px 0;
    font-size: .9rem;
    line-height: 1.62;
    @include desktop {
      width: 100%;
      max-width: 440px;   
      margin: 26px 0 34px 0;
      font-size: 1.08rem;
    }
  }
}

.start-info {
  grid-area: b;
  text-align: center;
  @include desktop {
    grid-area: a;
    text-align: left;
  }
}

.start-pictures {
  position: relative;
  width: 100%;
  height: 388px;
  grid-area: a;
  @include desktop {
    grid-area: b;
    height: auto;
  }
  
  img {
    position: absolute;
    top: -50px;
    width: 100%;
    transform: scale(1.05);

    @media (min-width: 410px) {top:-100px;}
    @media (min-width: 440px) {top:-140px;transform: scale(.99);}
    @include tablet {
      width: 420px;
      left: 50%;
      transform: translateX(-50%);
    }
    @include desktop {
      top: -80px;
      left: 250px;
      transform: scale(1.8);
    }
  }
}